You need to install PyQt5 and indic transliteration by running the command pip install PyQt5 and pip install indic-transliteration .
Also to run Listenjs you need selenium by running pip install selenium and webdriver manager by running pip install webdriver-manager .
